<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header text-center">
          <h5 class="title">Crear una actividad</h5>
        </div>

        <div class="card-body">
          <form>
            <div class="row justify-content-center">
              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label>Nombre de la actividad</label>
                  <input
                    type="text"
                    id="name"
                    class="form-control"
                    placeholder="Username"
                    value="Nombre_actividad"
                  />
                </div>
              </div>

              <div class="col-md-5 pl-1">
                <div class="form-group">
                  <label for="email">Direccion de email</label>
                  <input
                    name="email"
                    id="email"
                    type="email"
                    class="form-control"
                    placeholder="Email"
                  />
                </div>
              </div>
            </div>

            <div class="row justify-content-center">
              <div class="col-md-5 pr-1">
                <label>Fecha Inicio</label>
                <div class="input-group">
                  <input
                    class="form-control"
                    placeholder="yyyy-mm-dd"
                    name="dp"
                    formControlName="startDate"
                    ngbDatepicker
                    #d="ngbDatepicker"
                  />
                  <button class="btn btn-neutral" (click)="d.toggle()" type="button">
                    <i class="now-ui-icons ui-1_calendar-60"></i>
                  </button>
                </div>
              </div>
              <div class="col-md-5 pr-1">
                <label>Fecha Fin</label>
                <div class="input-group">
                  <input
                    class="form-control"
                    placeholder="yyyy-mm-dd"
                    name="dp"
                    formControlName="endDate"
                    ngbDatepicker
                    #d="ngbDatepicker"
                  />
                  <button class="btn btn-neutral" (click)="d.toggle()" type="button">
                    <i class="now-ui-icons ui-1_calendar-60"></i>
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
